* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #e0e8ff;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) {
  body {
    background-color: transparent;
  }
}

body .desktop-background {
  display: none;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1000px) {
  body .desktop-background {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  body .desktop-background {
    display: none;
  }
}

div.wrapper {
  width: clamp(400px, 50vw, 450px);
  height: 90vh;
  border-radius: 20px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1000px) {
  div.wrapper {
    width: 450px;
  }
}

@media (max-width: 420px) {
  div.wrapper {
    width: 90vw;
    min-width: 325px;
  }
}

div.wrapper > * {
  text-align: center;
  margin: 0 auto;
}

div.wrapper header {
  height: 33%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background: url(/images/illustration-hero.svg) no-repeat 50% 50%;
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}

div.wrapper h1 {
  text-align: center;
  font-weight: 900;
  color: #1f2f56;
  font-size: 1.6rem;
  margin-top: 35px;
}

@media (min-width: 1000px) {
  div.wrapper h1 {
    margin: 0;
  }
}

div.wrapper p.describe {
  font-size: 1rem;
  padding: 0 40px;
  line-height: 1.6;
  color: #7280a7;
}

@media (min-width: 1000px) {
  div.wrapper p.describe {
    padding: 0 70px;
  }
}

div.wrapper div.offer {
  width: 80%;
  background-color: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  border-radius: 15px;
}

@media (min-width: 1000px) {
  div.wrapper div.offer {
    padding: 20px 30px;
  }
}

div.wrapper div.offer div.element {
  margin-left: -30px;
}

@media (min-width: 1000px) {
  div.wrapper div.offer div.element {
    margin-left: -55px;
  }
}

div.wrapper div.offer div.element p.title {
  color: #1f2f56;
  font-weight: 900;
}

div.wrapper div.offer div.element p.price {
  color: #7280a7;
}

div.wrapper div.offer a {
  color: blue;
  cursor: pointer;
}

div.wrapper div.button-holder {
  width: 90%;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  div.wrapper div.button-holder {
    width: 80%;
    margin-bottom: 20px;
  }
}

div.wrapper div.button-holder button.pay {
  background-color: #3829e0;
  border: none;
  color: white;
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  font-weight: 900;
  letter-spacing: 0.1px;
  font-size: 0.9rem;
  -webkit-box-shadow: 0 20px 50px -5px #7280a7;
          box-shadow: 0 20px 50px -5px #7280a7;
  cursor: pointer;
}

div.wrapper div.button-holder button.pay:hover {
  background-color: #180c97;
}

div.wrapper div.button-holder button.cancel {
  background-color: transparent;
  padding: 15px 0;
  border-radius: 10px;
  font-weight: 900;
  letter-spacing: 0.1px;
  font-size: 0.9rem;
  color: #7280a7;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */