* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1000px) {
        background-color: transparent;
    }

    .desktop-background {
        display: none;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        @media(min-width: 1000px) {
            display: block;
            width: 100%;
        }
    }
}

//font-family: 'Red Hat Display', sans-serif;