* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

//font-family: 'Red Hat Display', sans-serif;